.asliderauto {
    margin-top: 75px;
}

.asliderauto--wrapper-title {
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #000000;

}

.asliderauto--wrapper-slider-slide {
    width: 100px;
    margin: 0 auto;
    text-align: center;
}
.asliderauto--wrapper-slider-slide-img  {
    width: 125px;
    height: 150px;
    margin: 0 auto;
}

.asliderauto--wrapper-slider-slide-img img {
    width: 100%;
    width: 100%;
}


.asliderauto--wrapper-slider-slide-title {
    text-align: center;
}