* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
body {
	background: #373737;
}
:root {
	--headerColor-transparent: rgba(176, 172, 172, 0.4);
	--headerColor: rgba(64, 64, 64, 0.9);
	--headerColorLight: #0D5E8B;
	--redColor: #db2b39;
	--headerTextColor: #eee;
}



/* nav a {
	margin: 0 1rem;
	color: var(--headerTextColor);
	text-decoration: none;
} */

/* nav a:hover {
	color: var(--redColor);
} */

/* header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--headerTextColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
} */
.nav-btn {
	padding: 10px 15px;
	color: var(--headerColorLight);
	text-decoration: none;
	background: #FFFFFF;
	border-radius: 15px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	transition: background 0.3s;
}

.nav-btn:hover {
	background: #b1b1b1;
}

.nav-down-select {
	padding: 10px 15px;
	color: black;
	text-decoration: none;
	background-color: #FFFFFF;
	border-radius: 15px;
	transition: background 0.3s;
}
.nav-down-select:hover {
	background-color: #c2c2c2;
}

.header {
  position: fixed;
  background-color: var(--headerColorLight);
  display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 100%;
	padding: 0 2rem;
	z-index: 1;
}

.header--wrapper {
	display: flex;
	justify-content: space-between;
}
.header--wrapper-person {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

}

.header--wrapper-person img {
  height: 20px;
  width: 20px;
}
.header--nav {
  display: flex;
  gap: 20px;
}

.header--link {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
	text-decoration: none;
}

.header--wrapper-person-link {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}


.bar {
	display: none;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
  }

  .active-burger-modal {
	z-index: 100000000000000 !important;
	left: 0 !important;
  }

  .burger-modal {
	overflow: hidden;
	left: -100%;
	width: 100%;
	z-index: 10;
	position: fixed;
	height: 100%;
	transition: 0.6s all;
	background-color: rgba(0, 0, 0, 0.785);
  }

  .burger-modal-wrapper {
	width: 100%;
	text-align: center;
	padding-top: 40%;
	transition: 0.6s all;
  }

  .fa-bur {
	height: 30px;
	top: 30px;
	right: 30px;
	left: auto;
	position: absolute;
	color: white;
  }
  
  .fa-bur svg {
	width: 30px;
	height: 30px;
  }


  .burger-modal-block {
	text-align: center;
	height: 100%;
	align-items: center;
  }


  .burger-modal-item {
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 15px 0 15px 0;
	color: rgb(255, 255, 255);
	cursor: pointer;
	transition: background 0.4s;
  }

  .nav-menu-btn {
	height: 100%;
	display: flex;
	align-items: center;
	border-right: 1px solid white;
	padding: 15px;
	justify-content: center;
  }
  .nav-btn {
	width: 137px;
	height: 32px;
	background: #066bab;
	border: 1px solid #ffffff;
	border-radius: 22px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 97.19%;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
  }


@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	  }
	.header--nav {
		display: none;
	}
	.header {
		position: relative;
	} 

	.bar {
		display: block;
	}

	.header--wrapper-person {
		display: none;
	}

	.mobail-center {
		justify-content: center;
	  }

	  .main--img {
		display: none;
	  }

	  .main--description {
		width: auto;
	  }
	  .main--description-title {
		font-weight: 700;
		font-size: 42px;
		/* display: flex; */
		align-items: center;
		color: #FFFFFF;
	}

	.main--description-subtitle {
		margin-top: 10px;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
	}

	.LK {
		display: block;
	}
	.burger-lk-btn {
		border-radius: 25px;
		padding: 15px 30px;
		background-color: #ffffff;
		color: black;
		margin: 15px auto;
		text-align: center;
		width: 100px;
	}

	.burger-title-lk {
		font-size: 18px;
		color:white;
	}
	.footer-wrapper-flex-img {
		display: none;
	}
	.footer-wrapper-flex {
		flex-wrap: wrap;
	}



}