
.main {
  margin-top: 50px;
  min-height: 590px;
  background: #0D5E8B;
}

.main--wrapper {
  display: flex;
  padding-top: 60px;
}

.main--description {
  width: 570px;
}

.main--description-photo {

}

.main--description-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}


.main--description-subtitle {
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}


.main--img {

}

.main--img img {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 576px) { 
.main--description-photo img {
  margin: 0 auto;
  text-align: center;
}
  .main--description-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    align-items: center;
    color: #FFFFFF;
  }
}